-r requirements.txt

asgiref~=3.5.0
werkzeug~=2.0.0
Flask==2.0.1
django==3
django-cors-headers==3.10
uvicorn==0.13.4
nest-asyncio==1.5.4
pycryptodome~=3.14.1
deprecated~=1.2.13
cryptography~=36.0.1
pytest-asyncio~=0.18.1
